@font-face {
    font-family:"FSEX300";
    src: url("FSEX300.ttf");
}
body {
  background-color: black;
  background-image: radial-gradient(black 70%, rgba(0, 161, 112, 0.1), rgba(0, 161, 112, 0.2), rgba(0, 161, 112, 0.5));
  padding:0px;
  margin:0px;
}

* {
  box-sizing: border-box;
  color:rgb(0, 161, 112);
  font-family: FSEX300;
}
.column {
  text-align: center;
  float: left;
  padding: 10px;
  height:100%;

}

.glow {
  animation: glow 3s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #003324, 0 0 10px #003324, 0 0 15px #004d36, 0 0 30px #004d36;
  }

  to {
    text-shadow: 0 0  10px #004d36, 0 0 20px #004d36, 0 0 30px #006647, 0 0 40px #006647;
  }
}
.left {
  width: 25%;);
}

.right {
  width: 25%;
}
#clock {
  position: relative;
  color:rgb(0, 161, 112);
  font-size: 50px;
}
#clock:before{
  background: -webkit-linear-gradient(rgba(0, 161, 112, 0), rgba(0, 161, 112, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  content: attr(data-text);
  position: absolute;
  top:60%;
  transform: rotate(180deg) scaleX(-1);
  opacity: 0.8  ;
}

.middle {
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
